<div class="wrapper">
  <clr-tabs clrLayout="vertical">
    <clr-tab>
      <button clrTabLink id="link1">About us</button>
      <clr-tab-content id="content1" *clrIfActive="true">
        <h3>About the company</h3>
        <div class="img_company"></div>
        <p class="about_text">Our company is a leading manufacturer of general machinery products in Europe. Our company
          provides a full
          cycle of
          works in the scope of machining parts. Unique technical capabilities enable to achieve consistently
          high-quality
          results. Machining in our company requires exceptional accuracy and global quality standards, which are
          provided
          through
          the use of highly specialized equipment.
          The production quality management system is certified to State Standard ISO 9001: 2009.
          Our own design and technological services allow the company in the shortest time to master output according to
          the
          technical documentation of the Customer.</p>
        <div class="img_gallery">
          <div class="img_gallery-first"></div>
          <div class="img_gallery-second"></div>
        </div>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>Contact</button>
      <clr-tab-content *clrIfActive>
        <h3>Contact</h3>
        <p><span class="title">Company:</span> PJSC "MachineryProductsService"</p>
        <p><span class="title"> Address:</span> 50004, Kyiv, St Newton, 12B</p>
        <p><span class="title">
            <clr-icon shape="phone-handset"></clr-icon>
            Fax:
          </span> +380 (44) 448-556</p>
        <p><span class="title">
            <clr-icon shape="phone-handset"></clr-icon>
            Fax:
          </span> +380 (44) 448-557</p>
        <p><span class="title">
            <clr-icon shape="envelope"></clr-icon> Email:
          </span> mpservice@gmail.com</p>
        <br>
        <hr>
        <p><span class="title">Director:</span> Gotovets Denny</p>
        <p><span class="title">Business Manager:</span> Bladzko Vladimir</p>
        <p><span class="title">Director of marketing and sales:</span> Stupak Piter</p>
        <p> <span class="title">Chief accountant:</span> Grigorieva Jenny</p>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>
